{% extends 'base.html' %}
{% load crispy_forms_tags %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block login %}

<!--{% if form.errors %}-->
<!--<p>There's something wrong with what you entered</p>-->
<!--{% endif %}-->


<div class="container">
    <form method="post" action="">
        <div class="mb3">
            {% csrf_token s%}

                        {{ form.as_p}}
<!--            <p>Username:{{username}}</p>-->
<!--            <p>Password: {{ form.password }}</p>-->

            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

    <br>
    <br>
    <br>
    {% endblock %}
