{% extends 'base.html' %}
{% load static %}
{% load menu %}
{% block search %}

<div class="page-section pt-5">
    <div class="container">
      <nav aria-label="Breadcrumb">
        <ul class="breadcrumb p-0 mb-0 bg-transparent">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
          <li class="breadcrumb-item active">Second divided from form fish beastr</li>
        </ul>
      </nav>

      <div class="row">
        {% for post in object_list %}
        <div class="col-lg-8">
          <div class="blog-single-wrap">
            <div class="header">
              <div class="post-thumb">
                <img src="{{ post.image.url }}" alt="">
              </div>
              <div class="meta-header">


              </div>
            </div>
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="post-meta">
              <div class="post-date">
                <span class="icon">
                  <span class="mai-time-outline"></span>
                </span> <a href="#">{{ post.publish_date }}</a>
              </div>
              <div class="post-comment-count ml-2">
                <span class="icon">
                  <span class="mai-chatbubbles-outline"></span>
                </span> <a href="#">4 Comments</a>
              </div>
            </div>
            <div class="post-content">
              <blockquote class="quote">
                {{ post.text }}
              <span class="author">― Marilyn Monroe</span></blockquote>

            </div>
            {% endfor %}
          </div>

















           <div class="comment-form-wrap pt-5">

            <form action="{{ post.get_absolute_url }}" class="contact-form py-5 px-lg-5" method="post">
              <h2 class="mb-5">Leave a comment</h2>
              {% csrf_token %}
              {{ comment.as_p }}

              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn btn-primary">
              </div>
            </form>
          </div>
            <!-- Widget search -->
            <div class="widget-box">
              <form action="{% url 'search_results' %}" class="search-widget" method="get">
                <input name="q" type="text" class="form-control" placeholder="Enter keyword..">
                <button type="submit" class="btn btn-primary btn-block">Search</button>
              </form>
            </div>

            <!-- Widget Categories -->
            <div class="widget-box">
              <h4 class="widget-title">Category</h4>
              <div class="divider"></div>

              <ul class="categories">
                {% show_menu %}
              </ul>
            </div>

            <!-- Widget recent post -->
            <div class="widget-box">
              <h4 class="widget-title">Recent Post</h4>
              <div class="divider"></div>
              <div class="blog-itc">
                {% for i in recently %}
                  <a class="post-thumb" href="">
                    <img src="{{ i.image.url }}" alt="">
                  </a>

                  <div class="content">
                    <h6 class="post-title"><a href="#">{{ i.title }}</a></h6>
                    <div class="meta">
                      <a href="#"><span class="mai-calendar"></span>{{ i.publish_date }}</a>
                      <a href="#"><span class="mai-person"></span> {{ i.author }}</a>
                      <a href="#"><span class="mai-chatbubbles"></span> 19</a>
                    </div>
                  </div>
                {% endfor %}
              </div>


            <!-- Widget Tag Cloud -->
            <div class="widget-box">
              <h4 class="widget-title">Tag Cloud</h4>
              <div class="divider"></div>

              <div class="tag-clouds">
                <a href="#" class="tag-cloud-link">Projects</a>
                <a href="#" class="tag-cloud-link">Design</a>
                <a href="#" class="tag-cloud-link">Travel</a>
                <a href="#" class="tag-cloud-link">Brand</a>
                <a href="#" class="tag-cloud-link">Trending</a>
                <a href="#" class="tag-cloud-link">Knowledge</a>
                <a href="#" class="tag-cloud-link">Food</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}